$display-ui-bgr: rgba(#3b5948, 0.2);
$display-ui-bgr-faded: rgba(#353d35, 0.2);

.display {
  position: relative;
  display: inline-block;
  color: white;
}

.display-ui-wrapper {
  padding: 20px;
}

.display-ui-wrapper > * {
  margin-bottom: 10px;
}

.display-ui-graph > span {
  text-align: center;
  margin-top: 10px;
  display: block;
  font-size: small;
  font-weight: bold;
  width: 100%;
}

.display-ui {
  padding: 5px;
  position: relative;
  border-radius: 5px;
  border: 1px solid black;
  background-color: $display-ui-bgr;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: transform 0.2s;
  z-index: 2000;
  display: inline-block;
}
